<!-- <h1>Demo: Nested Containers</h1> -->

<!-- <div class="alert alert-success">
    <strong>Instructions:</strong>
    In this demo you can not only drag &amp; drop list items, but also containers, which
    can contain list items or other containers themselves. To create new elements, use the toolbar on the right.
    If this is more than you need, check out the <a href="#/simple">simple list demo</a>
</div> -->

<div class="nestedDemo row" ng-include="'nested/nested.html'"></div>
